PGHOST={{ PGHOST }}
PGPORT={{ PGPORT }}
PGUSER={{ PGUSER }}
PGPASSWORD={{ PGPASSWORD }}
PGDATABASE={{ PGDATABASE }}

DATABASE_URL=postgresql://{{ PGUSER }}:{{ PGPASSWORD }}@{{ PGHOST }}:{{ PGPORT }}/{{ PGDATABASE }}

# aliases for result container (wait-for-db expects these)
POSTGRES_HOST={{ PGHOST }}
POSTGRES_PORT={{ PGPORT }}
POSTGRES_USER={{ PGUSER }}
POSTGRES_PASSWORD={{ PGPASSWORD }}
POSTGRES_DB={{ PGDATABASE }}

DB_HOST={{ PGHOST }}
DB_PORT={{ PGPORT }}
DB_USER={{ PGUSER }}
DB_PASSWORD={{ PGPASSWORD }}
DB_NAME={{ PGDATABASE }}

REDIS_HOST={{ REDIS_HOST }}
REDIS_PORT={{ REDIS_PORT }}
